[Desktop Entry]
Type=Application
Name=LoFi Logic
Comment=Film emulation photo editor
Exec=LoFi Logic
Icon=lofilogic
Categories=Graphics;Photography;ImageProcessing;
Terminal=false
StartupWMClass=LoFi Logic
